---
import Layout from '../layouts/Layout.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
---
<Layout>
	<div class="container text-center">
		<div class="row align-items-start">
		  <div class="col-6">
			<div class="conntainer intro">
				<p2>HELLO THERE!</p3><br>
				<p1>I'M <name>KRITTANAN</name></p1>
				<p class="lable">GRAPHIC DESIGNER</p>
				<p class="bio">My name is Boom. I'm a graphic designer and a little bit of website development as a frontend. My lifestyle is an adventure, travel alone and barista myself.</p>
				<a type="button" class="me" href="./about">ABOUT ME</a>
			</div>
		  </div>
		  <div class="col-6">
			<img src="/assets/img/profile.png" alt="Profile Picture">
		  </div>
		</div>
	  </div>
</Layout>

<style>
	.intro {
		height: 780px;
		text-align: center;
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 50px 0 50px;
	}

	p1 {
		font-size: 70px;
		font-weight: bold;
	}
	
	p2 {
		font-size: 30px;
		text-align: start;
		font-weight: bold;
	}

	name {
		color: #54494B	;
		font-size: 70px;
	}

	.lable {
		font-size: 20px;
		background-color: #54494B;
		width: 200px;
		border-radius: 14px;
		padding: 1px 1px 1px 10px;
		color: white;
		font-weight: lighter;
	}

	.bio {
		font-size: 15px;
		font-weight: normal;
	}

	.paper {
		background-color: #F0DFAD;
	}

	.me {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		text-decoration: none;
		color: #ffffff;
		font-size: 18px;
		border-radius: 14px;
		width: 200px;
		height: 40px;
		font-weight: bold;
		transition: 0.3s;
		box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
		background-color: #54494b;
	}

	.me:hover {
		opacity: .7;
	}
</style>
